html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

#app {
  height: 100%;
}

.app-main,
.app-screenshot {
  height: 100%;
}

.app-main {
  display: flex;
  align-items: center;
  justify-content: center;

  .inner-box {
    text-align: center;

    button {
      margin-bottom: 10px;
      cursor: pointer;
    }
  }
}
